---
import { getGroupMembers } from '@/actions/groups/get-group-members';
import AdminLayout from '@/layouts/AdminLayout.astro';
import { supabase } from '@/lib/supabase';

const accessToken = Astro.cookies.get('sb-access-token');
const refreshToken = Astro.cookies.get('sb-refresh-token');

const session = await supabase.auth.setSession({
  refresh_token: refreshToken!.value,
  access_token: accessToken!.value,
});

const user = session.data.user;

const { id: groupId } = Astro.params;

const { data: groupMembers, error } = await Astro.callAction(getGroupMembers, {
  groupId: groupId as string,
});

const categories = [
  { id: 'others', name: 'Supermercado', icon: 'shopping_cart' },
  { id: 'transport', name: 'Transporte', icon: 'directions_bus' },
  { id: 'services', name: 'Servicios', icon: 'receipt_long' },
  { id: 'leisure', name: 'Ocio', icon: 'celebration' },
];

---

<AdminLayout
  title="Add Expense"
  description="Add a new expense to your group"
  backLink={`/groups/${groupId}`}
>
  <form class="flex flex-col flex-1 pb-28">
    <div class="pt-6 pb-3 text-center flex items-center ">
      <span class="text-5xl font-bold leading-tight tracking-tight">$ </span>
      <input 
        name="expense-amount" 
        required
        class="text-5xl font-bold leading-tight tracking-tight mr-0.5 w-full max-w-xs text-center bg-transparent border-none focus:ring-0 focus:ring-offset-0"
        type="number"
        placeholder="0.00"
        min="0.01"
        step="0.01"
        />
    </div>
    <!-- Text Fields -->
    <div class="px-4 py-3 flex flex-col gap-4">
      <label class="flex flex-col">
        <p class="text-base font-medium leading-normal pb-2">Description</p>
        <input
        name="expense-description" required
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg bg-field-light text-text-light placeholder:text-subtle-light h-14 p-4 text-base font-normal leading-normal border-none focus:ring-2 focus:ring-primary/50"
          placeholder="What did you spend on?"
        />
      </label>
      <label class="flex flex-col">
        <p class="text-base font-medium leading-normal pb-2">Expense Date</p>
        <input
        name="expense-date" required
          class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg bg-field-light text-text-light placeholder:text-subtle-light h-14 p-4 text-base font-normal leading-normal border-none focus:ring-2 focus:ring-primary/50"
          type="date"
          value={new Date().toISOString().split('T')[0]}
        />
      </label>
    </div>
    <!-- Category Picker -->
    <div>
      <h3
        class="text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4"
      >
        Select a category
      </h3>
      <div class="px-4 gap-2 pb-3">
        {
          categories.map(({id, name, icon})=> (
            <span data-category-id={id}
          class="category-button flex items-center gap-2 whitespace-nowrap rounded-full bg-primary/20 text-primary px-4 py-2 text-sm font-semibold focus:outline-none focus:ring-2 focus:ring-primary/50"
        >
          <span class="material-symbols-outlined text-base">{icon}</span>
          {name}
        </span>
          ))
        }
      </div>
    </div>
    <!-- Participant Selector -->
    <div>
      <div class="flex justify-between items-center px-4 pt-6 pb-2">
        <h3 class="text-lg font-bold leading-tight tracking-[-0.015em]">
          Who participated?
        </h3>
        <button id="sellect-all-members" type="button" class="text-primary text-sm font-bold">Select all</button
        >
      </div>
      <div class="px-4">
        {groupMembers?.map(({user_id, name, photo_url}) => (
          <label class="flex gap-x-4 py-3 items-center">
            <img
              class="h-10 w-10 rounded-full object-cover"
              data-alt="Profile picture of a user"
              src={photo_url || 'https://lh3.googleusercontent.com/aida-public/AB6AXuDDjmM5irLSM0zfkkQF05l6JcL3QBjxznaZNtsBXk6RSgLUKIa4oPAhDIZPCzjq8qiqlDH2sw4dTKkShrbveJnN7qMDf0CPY4STGq_SMMRqqSaHCXnqA2WnaqlxevDaq9O5j05wiaGC_iwyhTX6eQQ6WsNFayYWw3se9LL5IS9wx5qjvoeG8Z-Yosg0I2due6IoD2xhZMQBlthcSWRKatSxAEFdQU0Gia1Bfg6NUyBNkOHjtX336kYnqWE5LYZHD8i8sppNs7ombw'}
            />
            <p class="text-base font-normal leading-normal flex-1">{(user_id === user!.id) ? 'You' : name}</p>
            <input
              checked={(user_id === user!.id) ? true : false}
              name="member-id"
              value={user_id}
              class="form-checkbox h-6 w-6 rounded-md border-border-light border-2 bg-transparent text-primary checked:bg-primary checked:border-primary focus:ring-0 focus:ring-offset-0"
              type="checkbox"
            />
        </label>
        <div class="h-px bg-border-light ml-14"></div>
        )
        )}
        
      </div>
    </div>
    <!-- Image Uploader -->
    <div>
      <h3
        class="text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-6"
      >
        Comprobante
      </h3>
      <div class="px-4 py-2">
        <button
          class="flex w-full flex-col items-center justify-center gap-2 rounded-lg border-2 border-dashed border-border-light bg-field-light/50 p-6 text-center text-subtle-light"
        >
          <span class="material-symbols-outlined text-4xl">upload_file</span>
          <p class="text-sm font-medium">Subir foto del recibo</p>
        </button>
      </div>
    </div>

    <div class="px-4 pt-6">
      <button
        type="submit"
        class="w-full rounded-lg bg-indigo-600 px-4 py-3 text-center text-base font-semibold  hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-primary/50"
      >
        Add Expense
      </button>
    </div>
  </form>
</AdminLayout>

<script>

  const selectMembersButton = document.getElementById('sellect-all-members') as HTMLButtonElement;
  const checkboxes = document.querySelectorAll('input[name="member-id"]') as NodeListOf<HTMLInputElement>;

  selectMembersButton.addEventListener('click', () => {
    const allSelected = Array.from(checkboxes).every(checkbox => checkbox.checked);
    checkboxes.forEach(checkbox => {
      checkbox.checked = !allSelected;
    });
    selectMembersButton.textContent = allSelected ? 'Select all' : 'Deselect all';
  });

  const form = document.querySelector('form') as HTMLFormElement;
  form.addEventListener('submit', (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    
    const memberIds: string[] = [];
    formData.getAll('member-id').forEach(id => {
      memberIds.push(id as string);
    });

    const expense = {
      amount: formData.get('expense-amount'),
      description: formData.get('expense-description'),
      date: formData.get('expense-date'),
      category: 'others',
      participants: memberIds,
    };

    console.log(expense);
    
    alert('Expense added successfully!');

  });

</script>